dist: xenial
language: python
# safelist
branches:
  only:
  - master
  - develop
  - /^\d+\.\d+(\.\d+)?(-\S*)?$/
python:
  - '2.7'
  - '3.5'
  - '3.6'
  - '3.7'
install:
  - pip install .
  - pip install docutils pygments
script:
  - python setup.py check --strict --metadata --restructuredtext
  - python setup.py test
deploy:
  - on:
      python: '3.7'
      tags: true
    provider: pypi
    distributions: bdist_wheel sdist
    user: igormq
    password:
      secure: uU2KVLg3HdT+0RBPl10XsZBrDkMgU+ZCcjh1EXBXf5bgYWA6ve7R13Q++aSMgZasVG4qlhg++QI7n/Dz6/AGcIzon0dBB7KtRDnW1+mRBmdfXCDo1P7spV+qCIoLkHRo51rMfRc1zIC2Wy7p9eljcdM3UUcS02lN8hCZb5pmFiASRtaK5MFknLTiwkFBleXOJmtLLZjNQEFFI68833p3KAABEG6lPVUHdClpgA0vq4VLlbzHXToqIrPILJIMGHjgtgXt+OaPRVpO5N5jhvKinXiDx3rwiDTemLGTrLBov/fNgxvG3dC+idWPbS0M7OFDZ+eq/VEzpR8rOP/JPMwdh7kjAM/ryyANXQ+XuWE7pNuH6qmwEy/BSJJh2Ezjy9u1/u7YzStdWsYZPAGU7OlqtBMwBCJDVlLrcgIqRqY2Yay2sUDiCOZIvOwnGO82HAR+oGzMQ4WTOhRWuX65mO56xbfOM09pU3tRwvT8yr03JX4+RPIf22ARsctuz9AnHv5T2yUszuWMil3hZ873GFJdsw/vb4zG9/Q4wlScAUfMg4Iugq89orhlquAlNYFyfU/ofVieAmYkJZS7GSYPwab6myChJxZgdlabFiAwyJG+RPuMD7T8W/S2yStSdBLTlG8HeLeWhnAPimYYX7MkYfIGbWYluc0oT5gdrxi6AW/8WuA=
